/* Estilos generales */
*{
  font-family: 'Nunito', serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* inicio */
body{
  position:relative;
}

/* ------ Header ---------------- */
  header {
    position: sticky;
    top: 0;
    left:0;
    width: 100%;
     /* text-shadow: 4px 4px 8px grey; */
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top:1rem;
    background: rgba(128, 128, 128, 0.5);
    color:white;
    border-style: solid;
    border-color: #184f63;
    border-width: thin;
    z-index:4;
  }
  
  header #menuf1{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  header .navbar-brand,header .nav-link{
    color:white !important;
  }
  
  header #menuf1_columna_izquierda{
  }
  header #menuf1_columna_derecha a{
    padding-left:8px;
  }

  .sticky {
    position: sticky;
    top: 0;
    left:0;
    width: 100%;
    background-color: #154455;
    transition: 0.7s;
    z-index:4;
  }

  ul i{
    color: #ffffff;
    margin-right:0.2rem;
  }

  /* ------------------------------------ */
  
  .contenedor{
    display:flex;
    flex-direction: row;
  }

  main {
    margin-top: -100px;
    background-color: rgba(255, 255, 255, 0.3);
    display:flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: center;
    align-content: flex-start;
  }

 section{
  z-index:1;
  position:relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 }
  .seccion1{
    background-image: url(../img/Home01C.jpg);
    color:white;
  }
  .seccion2{
    background-image: url(../img/Home04A.jpg);
    color:black;
    background-attachment: fixed;
  }
  .seccion3{
    background-image: url(../img/Home01E.jpg);
    /*filter: sepia(100%) hue-rotate(160deg);*/
    color:white;
  }
  .seccion4{
    background-image: url(../img/Home02A.jpg);
    /*filter: sepia(100%) hue-rotate(160deg);*/
    color:white;
  }
  .seccion1-pf{
    background-image: url(../img/Home01C.jpg);
    color:white;
  }
  .seccion-fondo{
    opacity: 0.44;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display:block;
    z-index:2;
  }
  .seccion-fondo1{
    background-color: black;
  }
  .seccion-fondo2{
    background-color: white;
  }
  .seccion-fondo3{
    background-color: grey;
  }
  .seccion-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    min-height: calc(100vh - 100px); /*le resto el espacio-top y le sumo el margen top de main*/
    z-index:3;
    padding: 1rem 4rem 1rem 4rem;
    width:100%;
  }

  .fila{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    width:100%;
  }

  .seccion-contenido .col1{
    max-width: 45%;
    display:flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    overflow:hidden
  }
  
  .seccion-contenido .col2{
    max-width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    
  }
  .col2{
    padding: 1rem 4rem 1rem 4rem;
  }
  .espacio-top{
    padding-top:100px;
  }
  .seccion-contenido h1,.seccion-contenido h3{
    color:white;
    font-weight:bold;
    font-size: 1.375rem;
  }

  .col1 img{
    width:100%;
    border-radius: 1rem;
  }
  
  .listado-proveedores{
    width:100%;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    flex-wrap: wrap;
    position: relative;
    z-index:3;
  }

  .plan{
    margin:1rem 4rem;
    padding: 1rem 4rem;
    background-color:#15445580;
    font-size:1.5rem;
  }

  .accordion-item{
    background-color: rgba(255, 255, 255, 0.70);
  }

  .accordion-body{
    color:black;
    
  }
 
  /*---------- Formulario de contacto----------- */
  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  form input,form textarea{
    margin-bottom:1rem;
  }

  .formulario-contenido{
    width:100%;
    border:solid thin white;
    border-radius: 1rem;
    padding:1rem 2rem;
  }

  .form-cont-header{
    /*border-radius: 1rem;*/
    /*background-color:rgba(128, 128, 128, 0.70);*/
    text-align:center;
    vertical-align: middle;
    padding:0.3rem;
    margin-bottom: 2rem;
  }

  .form-cont-header h2{
    margin-bottom: 0;
  }
  /* ------------------------------------*/
  /* Animacion*/
  #menuf1_columna_derecha i, footer i {
    animation-name: cambiarColor;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }
  @keyframes cambiarColor {
      0% {color: white;}
      50% {color: blue;}
      100% {color: white;}
      }
  /*-------------------*/
  /*-------Tarjetas---------------*/
  .flip-card {
    margin: 1rem;
    background-color: transparent;
    width: 200px;
    height: 100px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Efecto 3D */
  }
  
  /* Contenedor para posicionar el frente y el dorso */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Estilo de tarjeta frontal */
  .flip-card-front {
    background-color: white;
    color: black;
    padding: 0rem 0.2rem 0rem 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
  }
  
  /* Estilo de tarjeta fondo */
  .flip-card-back {
    background-color:rgba(128, 128, 128, 0.70);
    color: #026488;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .flip-card-front img, .flip-card-back img{
    width:100%;
  }
  .flip-card-front p, .flip-card-back p{
    margin:0;
  }
  .flip-card-back h3{
    color:#026488;
    margin:0;
  }

  /* -------------------------------- */
  
  /* Footer */
  footer {
    border-width: 5px;
    background-color:#154455;
    padding: 20px;
    text-align: center;
    color:white;
  }

  .redes-sociales a{
    padding:0.2rem 0.5rem;
  }

  .redes-sociales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
  }
/* ------------------ */
  i.fab{
    color:white;
  }

  a {
    text-decoration: none;
    color:white;
  }

  a:hover{
    background-color: grey ;
    text-shadow: 4px 4px 8px hwb(0 21% 79% / 0.40);
  }

  button{
    border:3px solid white;
    background-color: transparent;
    padding: 6px 8px;
    color:white;
  }
  button:hover {
        background-color:blue;
        border: 3px solid blue;
        transition: 0.7s;
  }

  @media (max-width: 400px) {
    /* Estilos para celulares */
    header {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
    }
    .col1{
      min-width:90vw;
    }
    
    .col2{
      min-width: 90vw;
      padding: 1rem 1rem;
    }
    main {
      margin-top:-270px;
  }
  .espacio-top{
    padding-top:270px;
  }
  .seccion-contenido h1,.seccion-contenido h3{
    font-size: 1.375rem;
    text-align:center;
  }
  .seccion-contenido{
    min-height: calc(100vh - 270px); /*le resto el espacio-top y le sumo el margen top de main*/
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
  .seccion3 {
    background-position-x: -400px;
  }
  .formulario-contenido{
    padding: 0.5rem;
  }
  
}
  
  @media (max-width: 600px) {
    /* Estilos para tablets y celulares */
    header {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
    }
    .col1{
        min-width:90vw;
      }
    .col2{
      min-width: 90vw;
      padding: 1rem 1rem;
    }
    main {
      margin-top:-270px;
    }
    .espacio-top{
      padding-top:270px;
    }
    .seccion-contenido h1,.seccion-contenido h3{
      font-size: 1.375rem;
      text-align:center;
    }
    .seccion-contenido{
      min-height: calc(100vh - 270px); /*le resto el espacio-top y le sumo el margen top de main*/
      padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .plan {
      margin: 0.2rem 0.1rem;
      padding: 0.3rem 0.4rem;
      background-color: #15445580;
      font-size: 1.5rem;
  }
  .seccion3 {
    background-position-x: -400px;
  }
  .formulario-contenido{
    padding: 0.5rem;
  }
  
   }

  @media (max-width: 768px) {
    /* Estilos para tablets */
    header {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
    }
    .col1{
        min-width:90vw;
      }
    .col2{
      min-width: 90vw;
      padding: 1rem 2rem;
    }
    main {
      margin-top:-270px;
    }
    .espacio-top{
      padding-top:270px;
    }
    .seccion-contenido h1,.seccion-contenido h3{
      font-size: 1.375rem;
      text-align:center;
      padding: 1rem 1rem;
    }
    .seccion-contenido{
      min-height: calc(100vh - 270px); /*le resto el espacio-top y le sumo el margen top de main*/
      padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .formulario-contenido{
      padding: 1rem;
    }
  }