/* Estilos generales */
*{
  font-family: 'Nunito', serif;
  margin:0;
  padding:0;
}

/* inicio */

button{
  border:3px solid white;
  background-color: transparent;
  padding: 6px 8px;
  color:white;
}
button:hover {
      background-color:blue;
      border: 3px solid blue;
      transition: 0.7s;
}

  /* Header */
  header {
    text-shadow: 4px 4px 8px grey;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top:1rem;
  }
  .enlace{
    position: absolute;
    padding: 20px 50px;
  }
  .logo{
    height: 40px;
  }
  
  header #menuf1{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  header #menuf1_columna_izquierda{
  }
  header #menuf1_columna_derecha{
  }

  

  .sticky {
    position: sticky;
    top: 0;
    width = 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index:4;
  }
  
  .contenedor{
    display:flex;
    flex-direction: row;
  }

  main {
    background-color: rgba(255, 255, 255, 0.3);
    display:flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: center;
    align-content: flex-start;
  }
 section{
  z-index:1;
  position:relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 }
  .seccion1{
    background-image: url(../img/Home01A.jpg);
    color:white;
  }
  .seccion2{
    background-image: url(../img/Home02A.jpg);
    color:black;
    background-attachment: fixed;
  }
  .seccion-fondo{
    opacity: 0.44;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display:block;
    z-index:2;
  }
  .seccion-fondo1{
    background-color: black;
  }
  .seccion-fondo2{
    background-color: white;
  }
  .seccion-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    min-height: 700px;
    z-index:3;
    padding: 1rem 4rem 1rem 4rem;
  }
 
  aside{
    width:30%;
    border-radius: 0.5rem;
    padding:1rem;
    box-shadow: 0 0 0.15rem 0.2rem rgba(211, 211, 211, 0.3),
                0 0 0.15rem 0.2rem rgba(211, 211, 211, 0.3),
                inset 0 0 0.15rem 0.2rem rgba(211, 211, 211, 0.3),
                inset 0 0 0.15rem 0.2rem rgba(211, 211, 211, 0.3);
  }
  
  /* Formulario de contacto */
  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  form label {
    margin-bottom: 10px;
  }
  
  form input,
  form textarea {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  form button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Footer */
  footer {
    border-width: 5px;
    background-color: rgba(211, 211, 211, 0.363);
    padding: 20px;
    text-align: center;
  }
  
  @media (max-width: 400px) {
    /* Estilos para celulares */
    body {
    }
  }
  
  @media (max-width: 600px) {
    /* Estilos para tablets y celulares */
    body {
    }
  }

  @media (max-width: 768px) {
    /* Estilos para pcs */
    body {
    }
    header h1 {
      font-size: 1.25rem;
    }
  }